name: Bump new version

on:
  workflow_run:
    workflows:
      - pages-build-deployment
    types:
      - completed
  workflow_dispatch:

jobs:
  bump-new-version:
    name: Bump new version
    runs-on: ubuntu-latest
    if: >-
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') ||
      (github.event_name == 'workflow_dispatch')
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event_name == 'workflow_run' && github.repository.default_branch || github.sha }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ vars.BUN_VERSION }}

      - name: Read version from package.json
        id: app-version
        working-directory: ${{ github.workspace }}/website
        run: |
          VERSION=$(bun -e "console.log(require('./package.json').version)" || echo "")
          if [[ -z "$VERSION" ]]; then
            echo "Error: Could not read version from package.json." >&2
            exit 1
          fi

          echo "Found version: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Create Release
        if: steps.app-version.outputs.VERSION != ''
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.app-version.outputs.VERSION }}
          generate_release_notes: true
          make_latest: true
